*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    max-width: 100%;
}
section{
    height: 380px;
}
.top{
    background-image: url("./Images/top-banner.png");
    background-repeat: no-repeat;
    padding: 40px;
}
.top .greet{
    width: 50%;
    float: left;
    padding-left: 60px;
}
.top .greet h4{
    color:slategrey;
}
.top .greet p{
    text-align: justify;
    margin-bottom: 20px;
}
.top .greet h2, h1{
    color: seagreen;
}
.top .greet span{
    color: orangered;
}
.top .pic1{
    width: 35%;
    float: right;    
}

.top .pic1 img{
    max-width: 100%;
    text-align: right;
}
.btn1{
    padding: 5px 20px;
    border-radius: 10px;
    color: black;
    text-shadow: 1px 1px gray;
    background-image:linear-gradient(45deg, lightSalmon, tomato);
    border-color: navajowhite;
    margin: 20px 10px;
    font-weight: 500;
}
.middle .pic2{
    width: 30%;
    float: left;    
}

.middle .pic2 img{
    max-width: 100%;
    text-align: right;
}
.btn2{
    padding: 5px 20px;
    border-radius: 10px;
    color: black;
    text-shadow: 1px 1px gray;
    background-image:linear-gradient(45deg, lightSalmon, tomato);
    border-color: navajowhite;
    margin: 20px 10px;
    font-weight: 500;
}
.middle{
    padding: 40px;
    background-image: url(./Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.middle .info{
    width: 60%;
    float: right;
    padding-right: 50px;
    margin-top: 25px;
}
.middle .info h4{
    color:slategrey;
}
.middle .info p{
    text-align: justify;
    margin-bottom: 20px;
    padding-right: 50px;
}
.middle .info h2{
    color: seagreen;
}
.footer{
    background-image: url(./Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.footer h4{
    color: orange;
}
.footer .xprnc {
    float: left;
    width: 25%;
    margin: 0% 7%;
    padding: 5%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 60%;
    margin-bottom: 3%;
}
.footer h2{
    margin-left: 4%;
}
#first{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, tomato, orange);
    border-image-slice: 1;
}
#second{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.footer .xprnc p {
    font-size: x-small;
}